*,*::before,*::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

body{
    padding: 0%;
    margin: 0%;
    /* background: linear-gradient(to right,#0f181d,rgb(101, 161, 126)); */
    background: #00000075;
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator >button{
    font-size: 2rem;
    border: 2px solid rgb(63, 63, 63);
    background-color: rgba(255, 255,255, .75);
    cursor: pointer;
}

.calculator>button:hover{
    background-color: rgba(34, 33, 33, 0.9);

}

.span2{
    grid-column: span 2;

}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand{
    color: rgba(255,255,255,.75);
    font-size: 1rem;
}

.output .current-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
}
